---
import Layout from "../layouts/Layout.astro";
import Toolbar from "../components/Toolbar.astro";
import ProgressBar from "../components/ProgressBar.astro";
import RomCard from "../components/RomCard.astro";
import Snackbar from "../components/Snackbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="SNES ROM Converter: smc to sfc">
	<Toolbar />
	<ProgressBar />
	<div class="rom-list" id="rom-list"></div>
	<RomCard />
	<Snackbar />
	<Footer />
</Layout>
